@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --black: #3C3A3D;
    --red: #1069ca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    color: #3C3A3D;
}


.header {
    position: fixed;
    background-color: rgba(60, 58, 61, 0.97);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: all .2s;
}
.header:hover {
    background-color: rgba(60, 58, 61, 1);
}
.logo {
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navigation {
    height: 100%;
    display: flex;
}
.navigation div {
    padding: 0 15px;
    display: block;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navigation div:hover {
    border-top: 5px solid var(--red);
}
.navigation div:hover p {
    margin-bottom: 5px;
}
.active_link {
    border-top: 5px solid var(--red);
}
.active_link p {
    margin-bottom: 5px;
}


.page {
    margin-top: 70px;
    width: 100%;
    min-height: 100% !important;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content {
    margin: 0 !important;
    max-width: 1200px;  
    padding: 0 15px;
}


.about {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .image img {
    height: 200px;
    border-radius: 50%;
    /* padding: 10px;
    border: 5px solid var(--black); */
    margin-right: 40px;
}
.about .info .name h1 {
    border-bottom: 5px solid var(--red);
    font-size: 42px;
}
.about .info .data {
    margin: 20px 0;
}
.about .info .data .row {
    display: flex;
}
.about .info .data .row span:first-child {
    font-weight: bold;
    flex: 2;
}
.about .info .data .row span:last-child {
    flex: 3;
}
.about .info .icons {
    display: flex;
}
.about .info .icons div {
    cursor: pointer;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills, .timeline-item {
    width: 100%;
    border-left: 5px solid var(--black);
}
.skills .title, .timeline-item .title {
    width: 100%;
    background-color: var(--red);
    height: 50px;
    border-radius: 0 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.skills .title h2, .timeline-item .title h2 {
    margin-left: 20px;
    color: #fff;
}
.skills .wrapper, .timeline-item .wrapper {
    padding: 70px 0 30px;
}
.skills .wrapper .group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .wrapper .group:first-child {
    margin-bottom: 32px;
}
.skills .wrapper .group h3 {
    font-size: 22px;
    margin-bottom: 16px;
}
.skills .wrapper .group div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills .wrapper .group div div {
    border-radius: 20px;
    margin: 16px 24px;
    height: 40px;
    width: auto;
    padding: 0 26px;
    background-color: var(--black);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.timeline-item {
    padding-top: 70px;
}

.timeline-item .wrapper .item {
    width: 100%;
    margin-top: 45px;
    border-bottom: 2px solid var(--black);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.timeline-item .wrapper .item:first-child {
    margin-top: 0px;
}

.timeline-item .wrapper .item .date {
    margin-top: 30px;
    margin-left: 10px;
}

.timeline-item .wrapper .item .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.timeline-item .wrapper .item .info h2 {
    font-size: 22px;
    text-align: right;
}
.timeline-item .wrapper .item .info p {
    font-size: 16px;
}
.timeline-item .wrapper .item .info small {
    font-size: 12px;
}

.margin-top {
    padding-top: 70px;
    border-bottom: 5px solid var(--black);
}
.margin-top-M {
    height: 70px;
}

.footer {
    margin-top: 100px;
    border-top: 5px solid var(--red);
    background-color: var(--black);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
}
.footer p {
    cursor: pointer;
    padding: 5px 20px;
    margin-bottom: 5px;
}

h2 a, h2 a:link, h2 a:active {
    text-decoration: none;
    color: #3C3A3D;
}

a, a:link, a:active {
    text-decoration: none;
    color: #F2F2F2
}


@media all and (max-width: 860px) {
    
    .header {
        display: none;
    }
    
    .page {
        margin-top: 0 !important;
    }

    .about {
        height: 100vh;
    }

    .icons {
        justify-content: space-between;
    }

    .icons div:last-child {
        margin: 0 !important;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .timeline-item .wrapper .item {
        flex-direction: column;
    }

    .timeline-item .wrapper .item .date {
        order: 2;
        align-self: flex-start;
    }

}