@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root {
    --black: #3c3a3d;
    --blue: #16b7eb;
}
html, body {
    margin: 0;
    cursor: default;
    font-family: Poppins, 'Trebuchet MS', Arial, sans-serif;
}
::-moz-selection{
    background: var(--blue);
}
::selection {
  background: var(--blue);
}

.side-bar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.side-bar img {
    position: relative;
    margin: 10px;
    width: 70%;
    height: auto;
    border-radius: 50%;
    padding: 6px;
    border: 5px solid var(--blue);
}
.side-bar .contact {
    padding: 10px;
    text-align: center;
}
.side-bar h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}
.side-bar .interests {
    padding: 10px;
    text-align: center;
}
.side-bar .interests li {
    white-space: nowrap;
}
.side-bar .contact h2 {
    display: inline;
    font-size: 1rem;
    color: var(--blue);
    margin: 0;
}
.side-bar .contact span {
    white-space: nowrap;
}
.side-bar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.side-bar ul li::before {
    content: "\2022";
    color: var(--blue);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.side-bar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.side-bar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.6px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.side-bar a:hover:after { 
    width: 100%; 
    left: 0; 
}


.content {
    margin-left: 300px;
    padding: 50px;
    color: var(--black);
}
.content h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 10px;
    margin: 0 50px;
    border-bottom: 5px solid var(--blue);
}
.content h2 {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.content h3 {
    margin: 10px 0;
    text-align: center;
}
.content .container {
    padding: 20px;
    margin: 40px 0;
    border: 1px solid var(--blue);
    border-radius: 10px;
}
.content .container p {
    text-align: justify;
}
.content .container .spans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content .container .spans span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px 15px;
    border-radius: 5px;
    background-color: #f3f3f3;
    transition: .5s;
}
.content .container .spans span:hover {
    background-color: gainsboro;
}
.content a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.content a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.6px;
    left: 50%;
    position: absolute;
    background: var(--black);
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}
.content a:hover:after { 
    width: 100%;
    left: 0; 
}




.hover-effect {
    background-image: linear-gradient(to right, transparent 50%, var(--black) 50%);
    background-size: 200%;
    transition: background-position .5s,
                color 1s,
                border-radius .5s;
}
.hover-effect:hover {
    background-position: -100%;
    color: var(--blue);
    border-radius: 10px;
}

.text-centred {
    width: 100%;
    text-align: center !important;
}
.faded {
    opacity: 0.1;
}

@media all and (max-width: 900px) {
    .side-bar {
        top: 0;
        height: 250px;
        width: 100%;
        flex-direction: row;
        font-family: "Times New Roman";
    }
    .side-bar img {
        height: 50%;
        width: auto;
        order: 2;
    }
    .side-bar h1 {
        font-size: 1rem;
        font-family: Poppins, 'Trebuchet MS', Arial, sans-serif;
    }
    .side-bar .contact {
        order: 1;
        width: 33%;
    }
    .side-bar .interests {
        order: 3;
        width: 33% !important;
    }
    .side-bar, .side-bar .contact h2 {
        font-size: 0.6rem;
    }

    .content {
        margin: 250px 0 0;
    }
    .content h1 {
        font-size: 2.5rem;
    }
}
@media all and (max-width: 650px) {
    .side-bar {
        height: 200px;
    }
    .side-bar img {
        height: 40%;
    }

    .content {
        margin: 200px 0 0;
    }
}